<div class="container" id="cent">

    <div class="row">
        <div class="col-12 col-md-9 offset-md-1 col-lg-6">
            <p class="pstyle fw-light">Welcome on The Online portfolio of </p>
            <p id="cov" class="h1 my-3">Zumm & Söhne Photo Agency</p>
            <p class="pstyle fw-light fs-5 lh-sm">On this site You will find assorted works ranging from classic Portraits to editorial Nature, Animals, Cars, Architecture and Fine Arts.</p>
        </div>
    </div>

    <div class="col d-flex justify-content-center my-5" id="btn">
        <a routerLink="/portfolio" class="btn btn-outline-light text-secondary">Take us</a>
    </div>

</div>