.pstyle{
    color: whitesmoke;
    // font-family: 'Great Vibes', cursive;
}

#cent{
    margin-top: 10%;
}

#cov{
    color: whitesmoke;
    font-family: 'Great Vibes', cursive;
}

#btn {
    margin-top: 2%;
    margin-bottom: 7%;   
}