.myRectangle {
  height: 200px;

  box-sizing: border-box;
  border: 7px solid transparent;
  background-clip: padding-box;
  
  transition: 300ms linear;
} 

.companyName {
  visibility: hidden;
}

.myRectangle:hover {
  transform: scale(1.1);
   
  color: white;
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.7);

  .companyName {
    visibility: visible;
  }
}


// ---------- CUSTOMERS ----------

#customer1 {
  background-position: center;
  background-size: cover;
}

#customer2 {
background-position: center;
background-size: cover;
}

#customer3 {
  background-position: center;
  background-size: cover;
}

#customer4 {
  background-position: center;
  background-size: cover;
}

#customer5 {
  background-position: center;
  background-size: cover;
}

#customer6 {
  background-position: center;
  background-size: cover;
}

#customer7 {
  background-position: center;
  background-size: cover;
}

#customer8 {
  background-position: center;
  background-size: cover;
}

#customer9 {
  background-position: center;
  background-size: cover;
}

#customer10 {
 
  background-position: center;
  background-size: cover;
}

#customer11 {
 
  background-position: center;
  background-size: cover;
}

#customer12 {  
  background-position: center;
  background-size: cover;
}